body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #121214;
  overflow-x: hidden;
}


nav{
  background: #1A1A1E;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1920px;
  height: 70px;
}

ul {
  color:#DCDCE1 ;

  display: flex;
  list-style: none;

  gap: 80px;
  margin: auto;
}

ul li a {
  color: #DCDCE1;
  text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
}

section {
  color: #DCDCE1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 741px;
  margin-top: 60px;
  
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;


  color:#DCDCE1 ;
  width: 1920px;
  height: 88px;
  background: #1A1A1E;
}

.titulo {
  font-family: "Poppins", sans-serif;

  color: #E1E1E6 ;
}

.logo{
  margin-left: 50px;
}


.perfil {
  margin-right: 50px;
}

.gmail {
  padding-left: 30px;
  padding-right: 10px;
}








